:root {
    --blue-dark: #00008B;  
    --accent-color: #b56b1a;   
    --bg-light: #f4f4f9;        
    --text-light: #fff;         
    --text-dark: #333;
    --status-approved: #2ecc71;
    --shadow: rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: var(--light-bg);
  color: #333;
  
}
.navbar {
   background:var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  color: var(--text-light);
    position: sticky;    
  top: 0;              
  width: auto;        
  z-index: 1000;    
  height: 76px;   
  color: #8f4c12;
}

nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav  a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s;
}

nav  a:hover {
    color: var(--accent);
    font-weight: 900;
}
.navOptions {
    position: relative;
    
}
.logo img {
    height: 100%;
    max-height: 80px;
    width: auto;
    object-fit: contain;
    margin-left: 0px;
}
span>.drop-btn a:hover{
 color: var(--accent);
}
.drop-btn {
    color: var(--text-light);
    font-weight: 600;
    cursor: pointer;
}

.drop-btn  a {
    color: var(--accent);
    
}
.dropdown {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
    background: #131379e8;
    list-style: none;
    padding: 10px 0;
    border-radius: 4px;
    width: 170px;
    font-size: smaller;
}
.navOptions:hover .dropdown {
    display: block;
    width: max-content;
}

.dropdown li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.dropdown li a:hover {
    background: #c27e67;
    color: var(--blue-dark);
    font-weight: bold;
}
.navbar {
   background: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  padding-bottom: 10px;
  color: var(--text-light);
    position: sticky;    
  top: 0;              
  width: auto;        
  z-index: 1000;    
  height: 50px;   
  color:white;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav  a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s;
}

nav  a:hover {
    color: var(--accent);
    font-weight: 900;
}
.navOptions {
    position: relative;
    
}
.logo img {
    height: 100%;
    max-height: 75px;
    width: auto;
    object-fit: contain;
    margin-left: 0px;
}
span>.drop-btn a:hover{
 color: var(--accent);
}
.drop-btn {
    color: var(--text-light);
    font-weight: 600;
    cursor: pointer;
}

.drop-btn  a {
    color: var(--accent);
    
}
.dropdown {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
    background: #131379e8;
    list-style: none;
    padding: 10px 0;
    border-radius: 4px;
    width: 170px;
    font-size: smaller;
}
.navOptions:hover .dropdown {
    display: block;
    width: max-content;
}

.dropdown li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.dropdown li a:hover {
    background: #c27e67;
    color: var(--blue-dark);
    font-weight: bold;
}

.searchBar{
  height:18px;
  width:100%;
  max-width:200px;
  background-color: rgba(255, 255,255, 0.2);
  display:flex;
  align-items: center;
  border-radius:60px;
  padding: 10px 20px;
}
.searchBar input{
  background:transparent;
  flex:1;
  border:0;
  outline: none;
  padding: 3px 2px;
  font-size: 0.8rem;
  color: var(--text-light);
 
}
::placeholder{
  color: #f4e9ee85;
}
.searchBar button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar button img{
  width: 35px;
    height: 35px;
    cursor: pointer;
}
.searchCont{
  margin-left: 301px;
}



img#logout{
  padding-top: 4px;
 height: 26px;
    margin-right: -35px;
    margin-left: -13px;
}

.layout {
  display: flex;
  background: #0F3B63;
}

.sidebar {
  width: 220px;
  background: #0A2A43;
  padding: 25px;
  min-height: 100vh;
  border-right: 2px solid #1C7ED6;
}

.sidebar h3 {
  margin-bottom: 20px;
  color: #E8F1F8;
}

.sidebar a {
  display: block;
  padding: 12px 0;
  color: #E8F1F8;
  text-decoration: none;
  font-size: 16px;
}

.sidebar a:hover {
  color: #1C7ED6;
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 40px;
  color: #fff;
  background: white;
}

.content h1 {
  margin-bottom: 20px;
  color: var(--blue-dark);
}

.form-section {
 background: #4dabf778;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 10px #1c7ed6;
    max-width: 900px;
    border: 1px solid #4dabf7a3;
    margin-left: 200px;
    height: 540px;
}

.form-section h2 {
  margin-bottom: 20px;
  color:var(--blue-dark);
}

/* --- Form --- */
.event-form {
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
}

.form-row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.form-row .form-group {
  flex: 1;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color:var(--blue-dark);
}

/* --- Inputs --- */
input, select, textarea {
     width: 100%;
    padding: 12px;
    border-radius: 6px;
    border: 1px solid #4dabf7c7;
    outline: none;
    font-size: 14px;
    background: #f4f4f9;
    color: #fff;
}

input:focus, select:focus, textarea:focus {
  border-color: #4dabf7;
  background: #0F4A78;
}

/* --- Button --- */
.btn-primary {
 padding: 12px 24px;
    background: var(--accent-color);
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 61px;
}

.btn-primary:hover {
  background: #0b66c2;
}