:root {
    --blue-dark: #00008B;
    --light-bg: #f4e9ee;
    --accent: #b56b1a;
    --text: #252525;
}


body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    /* background:url(../media/IMAGE/userbackground.png);
    background-size: cover;
    background-repeat: no-repeat; */
background-color: var(--light-bg);    color: var(--text);
}

.navbar {
   background: var(--blue-dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  padding-bottom: 10px;
  color: var(--text-light);
    position: sticky;    
  top: 0;              
  width: auto;        
  z-index: 1000;    
  height: 50px;   
  color: white;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav  a {
    color: var(--text-light);
    text-decoration: none;
    font-weight: 550;
    transition: 0.3s;
}

nav  a:hover {
    color: var(--accent);
    font-weight: 900;
}
.navOptions {
    position: relative;
    
}
.logo img {
    height: 100%;
    max-height: 75px;
    width: auto;
    object-fit: contain;
    margin-left: 0px;
}
span>.drop-btn a:hover{
 color: var(--accent);
}
.drop-btn {
    color: var(--text-light);
    font-weight: 600;
    cursor: pointer;
}

.drop-btn  a {
    color: var(--accent);
    
}
.dropdown {
    display: none;
    position: absolute;
    top: 7px;
    left: 0;
    background: #131379e8;
    list-style: none;
    padding: 10px 0;
    border-radius: 4px;
    width: 170px;
    font-size: smaller;
}
.navOptions:hover .dropdown {
    display: block;
    width: max-content;
}

.dropdown li a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.dropdown li a:hover {
    background: #c27e67;
    color: var(--blue-dark);
    font-weight: bold;
}

.searchBar{
  height:18px;
  width:100%;
  max-width:200px;
  background-color: rgba(255, 255,255, 0.2);
  display:flex;
  align-items: center;
  border-radius:60px;
  padding: 10px 20px;
}
.searchBar input{
  background:transparent;
  flex:1;
  border:0;
  outline: none;
  padding: 3px 2px;
  font-size: 0.8rem;
  color: var(--text-light);
 
}
::placeholder{
  color: #f4e9ee85;
}
.searchBar button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchBar button img{
  width: 35px;
    height: 35px;
    cursor: pointer;
}
.searchCont{
  margin-left: 301px;
}



img#logout{
  padding-top: 4px;
 height: 26px;
    margin-right: -35px;
    margin-left: -13px;
}


.main-content {
    margin-left: 60px; 
    padding: 20px 60px;
    transition: margin-left 0.4s;
}

/* 
.welcome-card {
    margin-top: 50px;
    margin-left: 70px;
    margin-right:70px;
    display: flex;
    max-width: 400px;
    justify-content: left;
    background: rgb(241, 167, 138);
    color: var(--blue-dark);
    padding: 30px;
    border-radius: 18px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

.avatar {
    margin-right: 25px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 3px solid white;
} */
/* .welcome-card {
  display: flex;
  align-items: center;
  gap: 18px;

 background: linear-gradient(135deg, #0f0fabb5, #9d41249e);  padding: 22px 28px; 
background: linear-gradient(195deg, #0f0fffb5, #0f0651fa);
  border-radius: 18px;

  box-shadow: 0 10px 28px rgba(0, 0, 139, 0.35);
  max-width: 460px;
  margin: 35px 70px;
} */

.welcome-card {
    height: 130px;
    display: flex;
    align-items: center;
    gap: 18px;
    padding-left: 27px;
    background: linear-gradient(195deg, #0f0fffb5, #0f0651fa);
    border-radius: 18px;
    box-shadow: 0 10px 28px rgba(0, 0, 139, 0.35);
    /* max-width: 460px; */
    margin: 35px 70px;
}

.welcome-card .avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 3px solid #fff;
}

.welcome-text h2 {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 800;
  color: #ffffff;
}

.welcome-text h2 span {
  color: #ffb36b;
}

.welcome-text p {
  margin-top: 5px;
  font-size: 0.95rem;
  color: #ffe1c4;
  font-weight: 500;
}


.summary-card {
    background: #16a34a;
    color: white;
    padding: 20px;
    border-radius: 15px;
    min-width: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    transition: 0.3s;
}

.summary-card:hover {
    transform: translateY(-5px);
}

.event-grid {
    padding: 20px 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,1fr));
    gap: 25px;
    margin-left: 70px;
    margin-right: 70px;
}

.event-card {
        border: 0.5px solid #0000e92e;

    background:rgba(164, 210, 231, 0.87);
    padding: 22px;
    border-radius: 18px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.08);
    position: relative;
    transition: 0.3s ease;
    max-width: 212px
}

.event-card:hover {
    transform: translateY(-8px);
}

.event-card h3 {
    color: #040442;
    margin-top: 30px;
    font-size: 1.1rem;
}

.event-card p {
    margin: 6px 0;
    font-size: 0.9rem;
    display: block;
}
img.icon{
    height: 15px;
    width:15px;
}
#head1{
    margin-top: 10px;
    margin-bottom: 5px;
}
.event-tag {
    position: absolute;
    top: 18px;
    right: 18px;
    padding: 6px 14px;
    border-radius: 30px;
    font-size: 0.75rem;
    font-weight: 700;
    color: white;
}

.status-unregister {
    display: flex;
    align-items: center; 
    gap: 10px;       
    margin-top:10px;
}

/* span.event-status {
    padding: 6px 12px;
    color: rgb(6, 70, 18);
    border-radius: 22px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0; 
} */
 span.event-status {
    margin-right: 25px;
    padding: 6px 12px;
    color: rgb(6, 70, 18);
    border-radius: 22px;
    font-size: small;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;
}

button.unregister-btn {
    padding: 6px 12px;
    background-color: #e47208;
    color: white;
    border-radius: 22px;
    font-weight: small;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 0;  
}
        button.unregister-btn:hover {  background-color: #86480f; }
.career { background: #7e1a7e; }
.workshop { background: #535a36; }


.academic { background: #074d01; }
.technical { background: #bb0853; }
.cultural { background: #f43f5e; }
.festival { background: #5c1d47; }
.sports { background: #16a34a; }
.social { background: #974b8b; }


/* RESPONSIVE */
@media (max-width: 768px) {
    .main-content {
        margin-left: 60px;
        padding: 15px;
    }
}